### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### gradle build files
**/.gradle/
#**/gradle/
**/build/
#gradlew
#gradlew.bat