apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: client-service
resources:
- ../../base
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
  target:
    kind: Deployment
    name: client-service
images:
- name: allinone
  newName: agilesolutions/client-service
labels:
- includeSelectors: true
  pairs:
    env: prod
