apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gateway
resources:
- ../../base
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
    name: gateway
images:
  - name: gateway
    newName: agilesolutions/gateway
labels:
- includeSelectors: true
  pairs:
    env: dev
