server:
  port: 8080

management:
  endpoint:
    health:
      show-details: ALWAYS
  tracing:
    enabled: true
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    mongo:
      command:
        enabled: false
    export:
      prometheus:
        enabled: true

spring:
  application:
    name: client-service
  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: r2dbc:h2:mem:///test?options=DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: password
    # driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true


springdoc:
#  enable-spring-security: true
#  show-login-endpoint: true
#  show-oauth2-endpoints: true
  show-actuator: true
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

logging:
  level:
    root: INFO
    com.agilesolutions.kafka: DEBUG
    org.springframework.jpa: DEBUG
    org.springframework.mongo: DEBUG
    org.springframework.security: DEBUG