apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: services
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: agilesolutions/gateway:1.0.1
          ports:
            - containerPort: 8082