apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: services
  labels:
    app: gateway
spec:
  selector:
    app: gateway
  ports:
    - name: http
      port: 8082
      targetPort: 8082
  type: ClusterIP  # internal-only, exposed via Ingress