apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: client-service-dev
resources:
- ../../base
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
    name: client-service
images:
  - name: client-service
    newName: agilesolutions/client-service
labels:
- includeSelectors: true
  pairs:
    env: dev
