apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: account-service-dev
resources:
- ../../base
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
    name: account-service
images:
  - name: account-service
    newName: agilesolutions/account-service
labels:
- includeSelectors: true
  pairs:
    env: dev
